/* CSS files add styling rules to your content */

body {
  font-family: 'Playfair Display', serif;
  background-color: cornsilk;
}

h1 {
  color: orange;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 3vw;
  
}

h2 {
  color: orange;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 3vw;
  
}

h3 {
  color: orange;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 3vw;
  
}

h4 {
  color: orange;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 3vw;
  
}

h5 {
  color: orange;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 3vw;
  
}

a {
  color: green;
  font-family: 'Playfair Display', serif;
  align-self: 
  text-decoration: none;
}

pre {
  font-family: 'Playfair Display', serif;
  
}

p {
  color: darkmagenta;
  font-size: 4vw;
  text-align: center
  font-family: 'Playfair Display', serif;
}

.layoutparent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
/*   grid-template-rows: 1fr 4fr 1fr; */
  grid-template-areas:
    "main-title  main-title  main-title  main-title"
    ". . . artical-title-1"
    ". artical-img-1 . ."
    ". . . artical-text-1"
    ". video . ."
    ". . . artical-img-2"
    ". artical-text-2 . ."
    ". . . artical-title-2"
    ". artical-title-3 . ."
    ". artical-title-4 . .";
}
